@font-face {
    font-family: chomsky;
    src: url(fonts/Chomsky.otf)
}

html{
    margin: 0 auto;
    max-width: 1225px;
    width:95%;
    min-height:100%;
    padding:0;
    border:0;
    box-sizing: border-box;
}

body{
    font-family: nyt-franklin,sans-serif;
    font-size: 14px;
    min-height:100%;
    position: relative;
    display:flex;
    justify-content: center;
    padding-top: 170px;
}

main{
    display: block;
    flex: 1;
}


header {
    max-width:100%;
    width:1225px;
    position: absolute;
    top: 0;
    z-index:500;
    border-bottom: 1.5px solid black;
    margin:0;
}

#second-header{
    display:none;
}

h1{
    font-family: chomsky, sans-serif;
    margin-top: 45px;
    margin-bottom: 5px;
    text-align: center;
    font-size:70px;
}

h4{
    font-family: nyt-franklin, sans-serif;
    font-size: 10px;
}

h5{
    font-size:9px;
    padding:15px 0 0 0;
    margin:0;
}

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: transparent;
}

figcaption{
    text-align:right;
    font-size:0.7rem;
    color:darkgray;
}

.title{
    color:black;
    text-decoration: none;
}

.nav-search{
    position: absolute;
    left:5px;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    z-index:999;
}

.search{
    border:none;
    margin: 5px 15px 0 0;
    cursor: pointer;
    background-color: transparent;
}

#search_navigation{
    display: none;
}

#search-bar{
    height: 30px;
    margin-top: 0;
}

.go{
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 5px 12px;
    margin-left: 10px;
    height: 35px;
}

.nation{
    right:33%;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:10px;
    z-index:1;
}

.nation_name {
    font-size:0.7rem;
    display: inline-block;
    cursor: pointer;
    padding-right: 15px;
    top:0;
}

.today{
    font-size:0.8rem;
    margin-top:30px;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    position: absolute;
    left:10px;
    top:35px
}

.buttons{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right:10px;
    top:5px;
}

.top-button{
    background-color: #336699;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px 15px;
    margin-left: 15px;
    border: 1px solid midnightblue;
}

.navbar{
    background-color: white;
}

.navbar-nav {
    max-width: 950px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown-menu{
    font-size: 0.8rem;
    border:none;
    text-align:center;
    border-radius: 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    visibility: hidden;
}

#navbarSupportedContent{
    display:flex;
    justify-content: space-around;
}

.dropdown:hover .dropdown-menu{
    visibility: visible;
}

.dropdown-menu.show{
    display:flex;
}

.dropdown a:hover{
    text-decoration: underline;
    background-color: white;
    text-decoration-thickness: 2px;
}

.dropdown-menu li:first-child a{
    color:darkgrey;
    padding:20px 0;
}

.navbar .has-megamenu{
    position: static !important;
}

.navbar .megamenu{
    left:0;
    right:0;
    width:100%;
    margin-top:0;
}

#line{
    border-bottom: 1.5px solid black;
    margin-bottom: 2px;
}

.down-arrow{
    background-color: white;
}

#live-section{
    text-align: center;
    padding:35px 0 15px 0;
    font-size: 12px;
}

.live{
    color: firebrick;
    font-size: 12px;
    display: inline;
    padding-right: 15px;
}

.live_b{
    display: inline;
}

#vertical-line{
    border-right: 1px solid darkgray;
    display: flex;
    flex-direction: column;
}

.two_column{
    display:grid;
    grid-template-columns: 69% 1px 28.5%;
    column-gap: 15px;
  }

.main_column{
    display: flex;
    flex-direction: column;
    border-top: 1.5px solid black;
    border-bottom: 2.5px solid lightgray;
    margin-bottom: 1px;
}

a .article_title:hover{
    color: #585858;
}

.live_c{
    padding: 10px 0 0 0;
}

.article_title{
    font-size: 1.375rem;
    font-weight: 700;
    margin: 5px 0;
    max-width: 100%;
}

.article_description{
    color: #5A5A5A;
    font-size: 0.875rem;
    padding: 0;
    margin: 5px 0;
}

.updates{
    background-color: black;
    color:white;
    font-size:12px;
    font-weight: bold;
    border-radius: 10px;
    display:inline;
    margin-left:10px;
}

.article{
    display:block;
}

.part{
    position:relative;
}

.articles_list{
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 20px;
}

.content{
    padding-bottom: 10px;
}

#content1{
    border-bottom: 1.5px solid lightgrey;
}

.plus{
    display:inline;
    font-size:12px;
    margin: 0 0 10px 0;
}

#carouselExampleCaptions{
    max-width: 60%;
    position: absolute;
    top: 10px;
    right:0;
}

.left-articles{
    padding-bottom: 10px;
}

.bottom-articles{
    display:grid;
    margin:0;
    grid-template-columns:50% 1px 50%;
    column-gap: 15px;
    max-width: 100%;
    border-top: 1.5px solid lightgrey;
    padding:10px 0;
    border-bottom: 1.5px solid black;
}

.article_div{
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    margin:0;
}

.content-small{
    padding:0;
    margin:0;
    display: inline-block;
}

#second_column img{
    max-width: 100%;
    max-height: 100%;
    padding-top:10px;
}

.small{
    max-width: 80%;
    font-size: 1rem;
    font-weight: 700;
    margin:5px 0;
}

.lecture_min {
    font-size: 0.625rem;
    margin: 0 0 10px 0;
    text-align:left;
    color:darkgrey;
}

#second-live{
    padding:0;
}

.daily-audio{
    padding:0 ;
    margin:0;
}

.daily-audio h5{
    padding:0 10px 0 0;
    margin:0;
    display: inline-block;
}

.daily-audio p{
    color: #5A5A5A;
    font-weight: bold;
    display: inline-block;
}

.play {
    background-color: white;
    border-radius: 100%;
    border: 1px solid grey;
    display: inline-block;
}

.listen_min{
    display: inline-block;
    font-size: 0.625rem;
    margin: 0 0 10px 0;
    text-align:left;
    color:darkgrey;
}

.content-small img{
    display:inline-block;
}

.horizontal_line{
    height: 1px;
    border-top: 1.5px solid lightgray;
}

.double{
    padding: 10px 0;
    display:grid;
    grid-template-columns: auto 1px auto;
    column-gap: 15px;
    border-bottom: 1.5px solid black;
}
.circle{
    text-align: center;
    height: 20px;
    width: 20px;
    background-color: white;
    border: solid 1px black;
    border-radius: 50%;
    display: inline-block;
}

#play-button{
    display:inline-block;
    text-align: center;
    width:10px;
    padding:0 0 5px 2px;
}

.content-small:hover .circle{
    background-color: grey;
}

.xsmall{
    max-width: 80%;
    font-size: 0.8rem;
    font-weight: 600;
    margin:5px 0;
    text-align: left;
    line-height: 17px;
}

.second-part{
    display:grid;
    grid-template-columns: 50% 1px 50%;
    column-gap: 15px;
    max-width: 100%;
    margin-top:15px;
    padding-bottom:15px;
}

#first_column2{
    display:none;
}

#video{
    padding-top: 10px;
    margin-left: 2rem;
    position:relative;
    max-width: 370px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    border:none;
}

.vid{
    display:inline-block;
}

.article_title2{
    font-size: 1.375rem;
    font-weight: 500;
    margin: 5px 0;
}

.image img{
    max-width: 100%;
}

#art-min{
    border-top: 1.5px solid lightgray;
    margin-top: 10px;
}

.name{
    color: #5A5A5A;
    font-size: 0.625rem;
    text-align:left;
    font-weight: 700;
    margin:10px 0 0 0;
}

.comment{
    font-size: 1rem;
    font-weight: bold;
    margin:0;
}

.comment-section{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    border-bottom: 1.5px solid lightgray;
}

.circular img{
    border-radius: 50%;
    width: 50px;
    right:0;
}

.comment-section2{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    border-bottom: 1.5px solid lightgray;
}

.square_img img{
    margin-bottom: 20px;
}

#final{
    border:none;
}

.footer-menu{
    border-top: 1.5px solid lightgray;
    border-bottom: 1.5px solid lightgray;
}

.titolo-fin{
    font-size:22px;
    font-family: chomsky, sans-serif;
}

#footer-columns{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    line-height: 7px;
}

#last-col{
    border-left: 1.5px solid lightgray;
    padding-left: 15px;
}

.col-foot p{
    font-size:12px;
}

.col-foot p:hover{
    text-decoration: underline;
}

h6{
    font-size:12px;
    font-weight: 700;
    margin-bottom:20px;
}

#subcol{
    border-bottom: 1.5px solid lightgray;
    padding-bottom:0;
    margin-bottom: 15px;
}

#bold{
    margin-bottom: 30px;
}

#bold p{
    font-weight: 900;
    font-size: 17px;
    line-height:10px;
}

#bold img{
    padding-right:10px;
}

footer{
    position: absolute;
    margin-top: 50px;
    width:100%;
    height:30px;
    bottom:0;

}

#footer{

}

footer a{
    color: dimgrey;
    font-size: 12px;
}

footer a:hover{
    text-decoration: underline;
}

#first-line-foot{
    display: inline;
}



@media screen and (max-width: 1070px){
    body{
        max-width: 1070px;
        width:95%;
        margin:auto;
    }

    .main_column{
        display:block;
    }

    .navbar{
        max-width:1070px;
    }

    .two_column{
        grid-template-columns: 1fr;
    }

    #first_column{
        display: flex;
        width:100%;
        max-width:1070px;
    }

    #second_column{
        display:none;
    }

    #vertical-line{
        display: none;
    }

}

@media screen and (max-width: 991px){

    html{
        width:95%;
    }

    body{
        max-width:991px;
        width: 95%;
        margin:0 auto;
    }

    #first-header{
        display:none;
    }

    #second-header{
        display:flex;
        max-width: 95%;
        height: fit-content;
        position: absolute;
        top: 0;
        z-index:500;
        border-bottom: 1.5px solid lightgrey;
        margin:auto;
    }

    h1{
        font-size: 38px;
        margin: 0;
        display: inline-block;
        text-align: center;
        top:0;
    }

    .top-button{
        display: inline-block;
        background-color: white;
        border: none;
    }

    #top{
        width:100%;
        display: flex;
        justify-content: space-around;
        margin-top:10px;
    }

    body{
        padding:0;
        height:100%;
    }

    main{
        margin-top: 40px;
    }

    #live-section{
        padding:0;
        margin:70px 0 15px 0;
    }

    .today{
        font-weight: 700;
        font-size:12px;
        width:100%;
        left:0;
        display: flex;
        justify-content: space-around;
        margin-top:30px;
        padding-bottom: 10px;
        border-bottom: 1.5px solid lightgrey;
    }

    .today a{
        position: absolute;
        right:10px;
        font-weight: 100;
        font-size: 10px;
        color:darkblue;
    }

    .navbar{
        left:10px;
    }

    .navbar-toggler-icon{
        width:20px;
        height:20px;
    }

    #data2{
        width:100%;
        text-align: center;

    }

    .buttons{
        margin-top:5px;
    }
}

@media screen and (max-width: 739px){
    body{
        max-width: 739px;
        width: 95%;
        margin:0 auto;

    }

    #first_column{
        display:none
    }

    #carouselExampleCaptions{
        max-width: 100%;
        position: relative;
        right:0;
        padding-bottom: 10px;
        border-bottom: 1.5px solid lightgrey;
        margin-bottom:10px;
    }

    .today{
        justify-content: space-between;
    }

    #data2{
        text-align: center;
        width: fit-content;
    }

    .updates{
        margin-bottom: 8px;
    }

    #live-section{
        margin: 70px 0 15px 0;
        font-size:0.8rem;
    }

    #first_column2{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
}
